@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body{
	background-color:#fffbf5;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0px;
}

h1{
	font-family: font-family: 'Cabin', sans-serif;Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: #ffff;
	height: 106px;
	font-size: 27px;
}

header{
	display: block;
	background-color: bisque;
	height: 162px;
	text-align: center;
	background-image: url(../img/pexels-mathias-pr-reding-8123067.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*input{
	color: #ccc;
	border-radius: 5px;
	border: 0px;
	margin: 1px;
}

input:hover{
	color: #000;
	border-radius: 5px;
	border: 0px;
	margin: 1px;
}*/

/*
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}*/

/*aside{
	display: flex;
	flex-direction: column;
	background-color: blue;
}*/

/*
.menu-principal{
	display: block;
	margin: 0;
	width: 400%;
	height: 20;
}

#quemsomos{
	display: block;
	height: 400px;
	background-color: blue;
}

#clubeda{
	display: block;
	height: 400px;
	background-color: blanchedalmond;
}

#contato{
	display: block;
	height: 400px;
	background-color: blueviolet;
}
*/
section{
	background-color: #b48955;
	/*width: 400px;
	height: 400px;*/
	border-radius: 0;
	align-items:baseline;
	color: #ffffffff;
	margin: 1px;
	opacity: .7;
}

/*
section:hover{
	background-color: #dab58a;
	width: 300px;
	border-radius: 15px 30px 10px 5px;
	align-items:baseline;
	color:black;
}*/

nav ul li{
	color: #ffffffff;
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	
}

nav ul li a{
	display: block;
	color: #ffffffff;
	/*background-color: #b48955;*/
/*	margin: 0px;
	border: 0px;
	height: 40px;
	padding: 0px;*/
	text-decoration: none;
	/*border-radius: 5px 30px 10px 5px;*/
}

nav ul li a:visited, a:link{
	color: #ffffffff;
}

nav ul li a:hover{
	color:#ffffffff;
	background-color: #000;
}

footer{
	background-color:#ffe4b5;
	height: 55px;
	text-align: center;
}