@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Homemade+Apple&family=Kaushan+Script&family=Nanum+Pen+Script&family=Special+Elite&display=swap');

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
	font-family: 'Special Elite', cursive; text-align: center;
	color: #ffff;
	font-size: 80px;
}

h2{
	font-family: 'Cedarville Cursive', cursive;
	color: #ffff;
	margin: 0px;
	padding: 0px;
}

h4{
	font-family: 'Nanum Pen Script', cursive;	
}

.container-fluid{ /* não excluir*/
	padding: 0px;
}

.card-img-top:hover{
	opacity: .7;
}

.card-body:hover{
	background-color:snow;
}

header{
	display: block;
	background-color: bisque;
	background-image: url(../img/pexels-mathias-pr-reding-8123067.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

section{
	background-color: #b48955;
	padding: 0;
	margin: 0;
}

nav ul li a:hover{
	color:#ffffffff;
	background-color: #b48955;
}

footer{
	background-color:#ffe4b5;
	height: 35px;
	text-align: center;
}